@charset "UTF-8";
#progress-bar {
  background-color: #ff8c00; /* Change color as needed */
  height: 5px;
  width: 0;
  transition: width 0.001s ease-in-out; /* Smoother transition */
}

nav ul {
  display: flex;
  padding: 20;
  margin: 0.5rem;
}

nav ul li {
  display: flex;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem;
  color: #fff;
}

nav .main-menu ul > li > a {
  text-decoration: none;
}

nav ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff8c00;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff8c00;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s;
}

nav ul li a:hover {
  transition: 0.5s;
  color: #ff8c00;
}

nav ul li a:hover::before,
ul li a:hover::after {
  transform: scaleX(1);
}

.active-tab {
  border-bottom: 2px solid #ff8c00; /* Példaként kéken emeljük ki az aktív fület */
  color: #ff8c00;
  z-index: 4;
}

nav {
  inset: 0 0 auto 0;
  background-color: hsla(0, 0%, 0%, 0.8);
  z-index: 3;
}

nav .logo {
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: #00aaff;
  font-family: "Protest Riot", sans-serif;
  font-style: normal;
}

nav .logo span {
  color: rgb(255, 255, 255);
}

nav .menu-container {
  display: flex;
  font-weight: bold;
  font-size: 1.5rem;
  justify-content: space-between;
  /* padding-left: 20rem; */
}

#banner {
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
#banner .content {
  width: 80%;
  background-color: hsla(0, 0%, 0%, 0.867);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
}
#banner.jc-center div.content {
  text-align: center;
  align-items: center;
}
#banner.jc-flex-start div.content {
  text-align: left;
  align-items: flex-start;
}
#banner.jc-flex-end div.content {
  text-align: right;
  align-items: flex-end;
}

#banner {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 1rem;
}
#banner img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
#banner div.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  z-index: 2;
  border-radius: 0 50px;
}

#bannerADD {
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
#bannerADD .content {
  width: 80%;
  background-color: hsla(0, 0%, 0%, 0.867);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
}
#bannerADD.jc-center div.content {
  text-align: center;
  align-items: center;
}
#bannerADD.jc-flex-start div.content {
  text-align: left;
  align-items: flex-start;
}
#bannerADD.jc-flex-end div.content {
  text-align: right;
  align-items: flex-end;
}

#bannerADD {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 1rem;
}
#bannerADD img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
#bannerADD div.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  z-index: 2;
  border-radius: 0 50px;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.absolute {
  position: absolute;
}

.footer {
  background-color: #d2d2d2;
}
.footer .footer-top .footer-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0;
}
.footer .footer-top .footer-container h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer .footer-top .footer-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer .footer-top .footer-container ul li {
  margin-bottom: 0.5rem;
}
.footer .footer-top .footer-container ul li a {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
}
.footer .footer-top .footer-container .col-sm-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.footer .footer-top .footer-container .col-sm-4 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer .footer-top .footer-container .col-sm-4 ul li {
  margin-bottom: 0.5rem;
}
.footer .footer-top .footer-container .col-sm-4 ul li a {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
}
.footer .footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer .footer-social li {
  margin-right: 1rem;
}
.footer .footer-social li a {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #727070;
  color: #fff;
  text-decoration: none;
}
.footer .footer-social li a i {
  font-size: 1rem;
  margin-left: 0.5rem;
}
.footer .copyright-text {
  text-align: center;
  font-size: 0.8rem;
  color: #6c757d;
}

/*# sourceMappingURL=header_and_footer.css.map */
