@use "conf";

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: fit-content;
  padding: clamp(5rem, 20vh, 15rem) clamp(1rem, 5vw, 5rem)
    clamp(1rem, 5vw, 5rem);

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: conf.get("background-level");
  }

  .content {
    display: flex;
    width: clamp(20rem, 20vw, 100%);
    height: fit-content;
    flex-direction: column;
    padding: 1rem;
    background-color: #000d;
    color: #fff;
    z-index: conf.get("content-level");
  }

  &.height-50 {
    height: 50vh;
  }
}
