
.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .container {
    width: 476px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 668px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 892px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1300px;
  }
}

.row,
.col,
[class^=col-],
[class*=" col-"],
.inner {
  display: flex;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.col,
[class^=col-],
[class*=" col-"] {
  flex-direction: column;
  max-width: 100%;
  padding: 0.5rem;
}
.col .inner,
[class^=col-] .inner,
[class*=" col-"] .inner {
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.col {
  flex-grow: 1;
}
@media screen and (max-width: 576px) {
  .col {
    width: 100%;
  }
}

[class^=col-],
[class*=" col-"] {
  flex: 0 0 auto;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .col-s-1 {
    width: 8.3333333333%;
  }
  .col-s-2 {
    width: 16.6666666667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.3333333333%;
  }
  .col-s-5 {
    width: 41.6666666667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.3333333333%;
  }
  .col-s-8 {
    width: 66.6666666667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.3333333333%;
  }
  .col-s-11 {
    width: 91.6666666667%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.3333333333%;
  }
  .col-m-2 {
    width: 16.6666666667%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.3333333333%;
  }
  .col-m-5 {
    width: 41.6666666667%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.3333333333%;
  }
  .col-m-8 {
    width: 66.6666666667%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.3333333333%;
  }
  .col-m-11 {
    width: 91.6666666667%;
  }
  .col-m-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-1 {
    width: 8.3333333333%;
  }
  .col-l-2 {
    width: 16.6666666667%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.3333333333%;
  }
  .col-l-5 {
    width: 41.6666666667%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.3333333333%;
  }
  .col-l-8 {
    width: 66.6666666667%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.3333333333%;
  }
  .col-l-11 {
    width: 91.6666666667%;
  }
  .col-l-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
.fw-wrap {
  flex-wrap: wrap !important;
}

.fw-nowrap {
  flex-wrap: nowrap !important;
}

.fd-row {
  flex-direction: row !important;
}

.fd-row-r {
  flex-direction: row-reverse !important;
}

.fd-column {
  flex-direction: column !important;
}

.fd-column-r {
  flex-direction: column-reverse !important;
}

.jc-initial {
  justify-content: initial !important;
}

.jc-inherit {
  justify-content: inherit !important;
}

.jc-flex-start {
  justify-content: flex-start !important;
}

.jc-flex-end {
  justify-content: flex-end !important;
}

.jc-center {
  justify-content: center !important;
}

.jc-space-between {
  justify-content: space-between !important;
}

.jc-space-around {
  justify-content: space-around !important;
}

.jc-space-evenly {
  justify-content: space-evenly !important;
}

.ac-initial {
  align-content: initial !important;
}

.ac-inherit {
  align-content: inherit !important;
}

.ac-flex-start {
  align-content: flex-start !important;
}

.ac-flex-end {
  align-content: flex-end !important;
}

.ac-center {
  align-content: center !important;
}

.ac-space-between {
  align-content: space-between !important;
}

.ac-space-around {
  align-content: space-around !important;
}

.ac-space-evenly {
  align-content: space-evenly !important;
}

.ac-stretch {
  align-content: stretch !important;
}

.ai-baseline {
  align-items: baseline !important;
}

.ai-initial {
  align-items: initial !important;
}

.ai-inherit {
  align-items: inherit !important;
}

.ai-flex-start {
  align-items: flex-start !important;
}

.ai-flex-end {
  align-items: flex-end !important;
}

.ai-center {
  align-items: center !important;
}

.ai-stretch {
  align-items: stretch !important;
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 20px;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.55em;
  overflow-x: hidden;
}
body * {
  box-sizing: border-box;
}

h1 {
  padding-inline-start: 1%;
  font-family: "Barlow Condensed", sans-serif;

}

h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 1.1em;
}

h1 {
  font-size: 3em;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;

}

h2 {
  font-size: 2.5em;
  text-align: center;
}

h3 {
  font-size: 2em;
  text-align: center;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.1em;
}

p {
  margin: 0.5em 0;
  padding-left: 1%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h2 img {
  height: 50px;
  margin-right: 1rem;
}

section {
  position: relative;
  padding: 2rem 0;
  margin: 5%;
}
section h2, section h3 {
  text-align: center;
}

img.round {
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}


// Variabelen voor kleuren en typografie
$primary-color: #2D5786;
$secondary-color: #f1f1f1;
$text-color: #333;

.overzicht_cursussen {
  padding: 20px;
  background-color: $secondary-color;

  h2 {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;

    img {
      margin-right: 10px;
    }
  }

  .cursussen {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .cursus {
      flex: 1 1 calc(25% - 20px);
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      a {
        display: block;
        padding: 20px;
        text-decoration: none;
        color: inherit;

        h3 {
          font-size: 20px;
          color: $primary-color;
          margin-bottom: 10px;
        }

        ul {
          list-style-type: none;
          padding: 0;

          li {
            font-size: 16px;
            margin-bottom: 5px;

            strong {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

// Responsieve stijlen
@media (max-width: 1200px) {
  .overzicht_cursussen {
    .cursussen {
      .cursus {
        flex: 1 1 calc(33.333% - 20px);
      }
    }
  }
}

@media (max-width: 768px) {
  .overzicht_cursussen {
    .cursussen {
      .cursus {
        flex: 1 1 calc(50% - 20px);
      }
    }
  }
}

@media (max-width: 480px) {
  .overzicht_cursussen {
    .cursussen {
      .cursus {
        flex: 1 1 100%;
      }
    }
  }
}




.contact-form {
  max-width: 400px;
  margin: 0 auto;
}
.contact-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: -30px;
  margin-top: 25px;
  font-weight: 300;
}
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form input[type=tel],
.contact-form textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
.contact-form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.contact-form input[type=submit]:hover {
  background-color: #45a049;
}


.container h2 {
  text-align: center;
  margin-bottom: 60px;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h3 {
  cursor: pointer;
  margin: 0;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 28px;
  font-weight: bold;
}

.faq-item p {
  margin: 10px 0;
  font-size: 26px;
  line-height: 1.5;
  display: none;
}

.arrow {
  float: right;
}


/*# sourceMappingURL=course.css.map */
