.banner-text {
    position: absolute;
    align-self: center;
    color: rgb(255, 255, 255);
    justify-self: center;
    font-weight: bold;
    font-size: 3.5rem;
    z-index: 2;
    padding: 1.5rem;
    border-radius: 0 50px;
    background-color: hsla(0, 0%, 0%, 0.867);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }


// .image-container {
//   width: 300px;
//   height: 337px;
//   overflow: hidden;

//   img {
//     max-width: 100%;
//     max-height: 100%;
//     object-fit: cover;
//     border-radius: 0 50px;

//     /*&:hover,*/
//     &.enlarged {
//       transform: scale(1.5);
//     }
//   }

// }
